<h1>{{employee.name}}</h1>

<div class="well">
  <h2>Salary</h2>
  <strong>{{employee.salary}} USD</strong>

  <h2>Skills</h2>
  <span ng-repeat="skill in employee.skills">
    <span class="badge">
      {{skill.title}}
    </span>
  </span>


  <h2>Contacts</h2>
  <p>
    {{employee.contacts}}
  </p>

  <h2>Status</h2>
  <p>
    {{employee.status == 0 ? "Need Job" : "Has Job"}}
  </p>

  <a href="#/employees/{{employee.id}}/edit" class="btn btn-primary">Edit</a>
</div>

<h2>Matched Jobs</h2>

<table ng-table="MatchedJobs" class="table">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Salary</th>
  </tr>

  <tr ng-repeat="job in $data">
    <td class="text-center">{{job.id}}</td>
    <td><a href="#/jobs/{{job.id}}">{{job.title}}</a></td>
    <td class="text-center">{{job.salary}} USD</td>
  </tr>
</table>

<h2>Related Jobs (75% match)</h2>

<table ng-table="RelatedJobs" class="table">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Salary</th>
  </tr>

  <tr ng-repeat="job in $data">
    <td class="text-center">{{job.id}}</td>
    <td><a href="#/jobs/{{job.id}}">{{job.title}}</a></td>
    <td class="text-center">{{job.salary}} USD</td>
  </tr>
</table>
