<!DOCTYPE html>
<html ng-app="HireMeApp">
<head>
  <title>HireMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/js/app/app.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
